body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(158, 158, 158);
}

h2{
    display: inline-block;
    padding: 10px 10px;
    object-fit: cover;
    border-radius: 10px;
}

h2:hover{
    box-shadow: 0 0 50px rgb(255, 255, 255);
}

.container{
    max-width: 700px;
    margin: auto;
    padding: 20px;
    border: 8px solid rgb(0, 47, 255);
    background-color: rgb(68, 68, 68);
}

.container:hover{
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    transition: ease-in-out 0.3s;
}
.preview{
    max-width: 50%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(81, 70, 70, 0.3);
}

.preview:hover{
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    transition: ease-in-out 0.3s;
}
 img {
    width: 100%;
    cursor: pointer;
 }

.gallery{
    margin-top: 30px;
    max-width: 760px;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
    grid-gap: 5px;
}

.gallery img{
    width: 150px;
    height: 120px;
    margin: 10px;
    cursor: pointer;
    border-radius: 8px;
}

.gallery img:hover{
    transform: scale(1.1);
    transition: 0.3s;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    transition: ease-in-out 0.3s;
}

.active{
    border: 4px solid orange;
    transform: scale(1.1);
    transition: ease-in-out 0.3s;
}

.fade-in{
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}